.list-border {
  border-radius: 0.6rem;
  padding: 0.75rem;
  border: 2px solid #37474f;
  width: 100%;
  outline: none;

  &:focus {
    box-shadow: none;
  }

  &:focus,
  &:hover {
    border: 2px solid rgb(63, 133, 167);
  }
}
