.search-input {
  box-shadow: 0 var(--web-ui_button-lip-width, 4px) #37474f;
  border-radius: 0.6rem;
  padding: 0.75rem;
  border: 2px solid #37474f;
  width: 100%;
  outline: none;

  &:focus {
    box-shadow: none;
  }
}
