@font-face {
  font-family: 'Custom Regular';
  src: url('@/assets/fonts/regular-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Custom Semi Bold';
  src: url('@/assets/fonts/semi-bold-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Custom Bold';
  src: url('@/assets/fonts/bold-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
